
target/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle-specific
.gradle/
build/
*.bin
*.lock
!gradle/wrapper/gradle-wrapper.jar
/.idea
# Gradle wrapper files (ignore in submodules if present)
gradle-wrapper.jar
gradle-wrapper.properties

lib/

/.idea
/.out
*.class
/.com
/.company
/.udemy
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# SonarLint caches and temporary files
.idea/sonarlint/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IntelliJ IDEA shelf files
.idea/shelf/

# IntelliJ workspace and UI Designer
.idea/workspace.xml
.idea/uiDesigner.xml

# Build directories for individual microservices
services/*/build/

# Ignore local compiled classes and binaries
target/
out/

# Logs and temporary files
logs/
*.log
*.tmp
*.bak

# Docker-related files
docker/*.log
docker/*.tmp
docker-compose*.log
docker-compose*.tmp

# Miscellaneous system files
.DS_Store
Thumbs.db
*.patch
*.xml

# Database information
.env.example
.env.local
#эти файлы только для примера- example, и локальной настройки, должны оставаться в игноре

# Игнорирование локальных файлов конфигурации
**/src/main/resources/application-local.yml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle ###
.gradle

### Allure ###
.allure

*~
lib/
.run/