<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>

<h2>Редактирование пользователя</h2>

<form th:action="@{/admin/update}" method="post" th:object="${userDto}">
    <input type="hidden" th:field="*{id}"/>

    <label>Имя:</label>
    <input type="text" th:field="*{username}"/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p><br>

    <label>Фамилия:</label>
    <input type="text" th:field="*{lastName}"/>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}"/>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p><br>

    <label>Пароль:</label>
    <input type="password" th:field="*{password}" placeholder="Оставьте пустым, если не хотите менять"/>
    <small>Если не вводить, старый пароль сохранится.</small>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p><br>

    <label>Роли:</label>
    <select multiple th:field="*{roleIds}">
        <option th:each="role : ${roles}"
                th:value="${role.id}"
                th:text="${#strings.replace(role.name, 'ROLE_', '')}">Роль</option>
    </select>

    <button type="submit">Сохранить</button>
</form>

<a href="/admin">Назад</a>

</body>
</html>